body {
  margin-left: 1em;
  margin-top: 0;
  margin-right: 1em;
  margin-bottom: 0;
  min-width: 256px;
}

/* Initially hide section (until rules get added). */
section.rules {
  position: fixed;
  visibility: hidden;
}

/* Underline rules that have notes. */
.rule [title] {
  border-bottom: 1px dotted;
  cursor: help;
}

